body {
    margin: 0;
    padding: 0;
    font-family: Product Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.bg-grey {
    background-color: #f7fafc;
}

#light-slider li > .card {
    width: 315px;
    height: 190px;
    margin: 0 13px;
    border-bottom: 5px solid #0a59ad;
}