html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Product Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.bg-grey {
    background-color: #f7fafc;
}

#light-slider li > .card {
    width: 315px;
    height: 190px;
    /*margin: 0 13px;*/
    border-bottom: 5px solid #0a59ad;
}

#app__about .tentang {
    border-left: 5px solid #8BC34A;
}
#app__about .gejala {
    border-bottom: 5px solid #FF9800;
}
#app__about .penularan {
    border-bottom: 5px solid #F44336;
}

#app__statistik .statistik-terkonfirmasi .judul {
    color: #84befd;
    font-weight: bold;
}
#app__statistik .statistik-terkonfirmasi svg {
    color: #84befd;
}

.dataTables_filter {
    float: right;
}

@media (min-width: 1024px) {
    menu-list {
        display: flex;
    }

    .dataTables_paginate {
        float: right;
    }
}

@media (max-width: 1024px) {
    ul.navbar-nav {
        text-align: center;
        margin-top: 10px;
    }

    ul li:hover {
        background-color: #f7fafc;
        font-weight: bold;
    }
}

@media (max-width: 426px) {
    .dataTables_filter {
        float: left;
    }
}